{
  "plugins": ["react", "react-hooks"],

  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "parser": "babel-eslint",
  "globals": {
    "cy": true
  }
}