* {
  box-sizing: border-box;
}
/* Variables */
:root {
  --color-primary: #c03089;
  --color-secondary: #c9328f;
  --color-tertiary: #323232;
  --text-color-primary: #222;
  --text-color-secondary: #33475b;
  --disable-color-primary: #c48aae;
  --disable-color-secondary: #cb85b0;
  --disable-color-tertiary: #575757;
}
/* Home view */
